In [8]:
#1 Create a dictionary

dict={
        'Name' : 'Sail Pawar',
        'Age'  : 20 ,
        'City' : 'Mumbai'
     }
print(dict)

#2 Accessing volumes
#Access volumes using their keys
print(dict['Name'])
print(dict['Age'])
print(dict['City'])

{'Name': 'Sail Pawar', 'Age': 20, 'City': 'Mumbai'}
Sail Pawar
20
Mumbai

In [9]:
#3 Adding or updating new key-value pair into dictiornary

dict['Email'] = 'sailpawar72927@gmail.com'

#Updating on existing key value pair 
dict['Age'] = 22
print(dict)

{'Name': 'Sail Pawar', 'Age': 22, 'City': 'Mumbai', 'Email': 'sailpawar72927@gmail.com'}

In [12]:
#4 Removing key-value pair
dict.pop('City')

# Removing a key-value pair using del
del dict['Age']

# myDict.popitem() # removes the last key-value pair
print(dict)

{'Name': 'Sail Pawar', 'Email': 'sailpawar72927@gmail.com'}

In [13]:
dict={
        'Name' : 'Sail Pawar',
        'Age'  : 20 ,
        'City' : 'Mumbai',
        'Email' : 'sailpawar72927@gmail.com'
     }

print("Keys:",list(dict.keys()))
print("Values:",list(dict.values()))

Keys: ['Name', 'Age', 'City', 'Email']
Values: ['Sail Pawar', 20, 'Mumbai', 'sailpawar72927@gmail.com']

In [14]:
#Print Key-Values pairs using for loops

for keys, values in dict.items():
    print(keys,":",values)

Name : Sail Pawar
Age : 20
City : Mumbai
Email : sailpawar72927@gmail.com

### Tuples

In [1]:
my_tuple = (1,2,3,4,5,6)
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [15]:
# Creating a tuple without parantheses (implicit tupel) 
my_tuple2 = 1,2,3,4
print(my_tuple2)

(1, 2, 3, 4)

In [16]:
# creating an empty Tuple

empty_tuple=()
print(empty_tuple)

()

In [17]:
# Creating a Tuple with one element

single_element_tup = (1,)
print(single_element_tup)

(1,)

In [ ]:
#2. Accessing Tuple elements

print(my_tuple[0])
print(my_tuple[1])
print(type(my_tuple))

In [ ]:
#3. Tuple concatenation and Repetition

tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

#Constructor
combine_tup = tup1 + tup2
print(combine_tup)

In [22]:
# Tuple Methods
# There are only two built-in Methods in Tuble
my_tup=(1,2,3,4,5,6)

# COUNT OCCURANCE OF AN ELEMENTS
print(my_tup.count(4))

#finding the index of an element 
print(my_tup.index(2))


#Converting Tuple into list
tup_list = list(my_tup)
print(tup_list)
print(type(tup_list))

# print(list(my_tuple))

List = [4, 5, 6]
print(tuple(List))

1
1
[1, 2, 3, 4, 5, 6]
<class 'list'>
(4, 5, 6)

### SETS

In [23]:

set1 = {'Apple', 'Banana', 'Mango'}
set2 = {'Cherry', 'Banana', 'Apple'}
# print(set1)
# print(set2)

# UNION
print(set1.union(set2))

# INTERACTION
print(set1.intersection(set2))

# DIFFERENCE
print(set1.difference(set2))

{'Mango', 'Banana', 'Cherry', 'Apple'}
{'Apple', 'Banana'}
{'Mango'}